<div class="pb-2">
    <ul class="progressbar">
        <li>Autores</li>
        <li class="active">Libros</li>
        <li>Comentarios Existentes</li>
        <li>Nuevo Comentario</li>
    </ul>
</div>

<div class="container pb-5">
    <div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        @Html.Label("lblAutor", "Autor")
                    </div>
                    <div class="col-md-6">
                        @Html.Label("lblAutor", (string)ViewData["autor"])
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="card">
            <div class="card-body">
                @Html.Label("lblSeleccion", "Seleccione el Libro del Autor")

                <div>
                    <div class="card">
                        <div class="card-body">
                            <table class="table">
                                <tbody class="">
                                    @foreach (var libro in (IEnumerable<dynamic>)ViewData["libros"])
                                    {
                                        <tr class="">
                                        <td>@libro.nombre</td>
                                        <td class="text-end"><button type="button" class="btn btn-success">
                                            @Html.ActionLink(
                                                        "Seleccionar",
                                                        "Index",
                                                        "ComentariosLibro",
                                                        new { id = libro.id },
                                                        new { @class = "text-white text-decoration-none" })
                                        </button>
                                        </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

